<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classificar Imagens Raios-X de Pneumonia</div>
    <p>
      Possíveis resultados: </p> <p> <strong>COVID</strong> - Síndrome Agude Respiratória Grave (baseada em imagens do Cov-Sars-1 e do Cov-Sars-2) </p> <p> <strong>OTHER</strong> - Outros tipos de pneumonia, baseada principalmente em imagens de pneumonias bacterianas </p> <p> <strong>NORMAL</strong> - Raio-X saudável 
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
